
/************************************
Estilos de la barra de navegación
**************/
.menu > li{
    padding:0px;
    margin-left:10px;
    margin-top: 0px;
    text-align: left;
    float: left;
    
    width: 5%;
    list-style: none;
    
}




.lastblock > li p{
    margin-top: 40px;
    margin-left: 0px;
    margin: 0px;
    color:rgb(175, 13, 13);
}

.menu >  ul li{
    display:none;
}

.nextblock{
    margin-left: 140px;
    padding: 10px;
    
}

.menu > li:hover > ul{
    display:block;   
    color:azure;
    text-decoration: none;

}


.menu > nav{
    background-color: rgb(11, 51, 209);
}


.menu > nav a{

    color:azure;
    text-decoration: none;
    display:block;
    padding:5px 10px;
}

.menu > nav a:hover{
    background-color: brown;
}

.menu > nav ul{

    list-style: none;
}

.lastblock{
    color: rgb(4, 105, 92);
    margin-left: 0cm;
    margin-top: 0cm;

}


/******************
BORRADOR EJEMPLO

.menu-item ul {
    display: none;
}

.menu-item:hover > ul {
    display: block;
}


*****************/