
/************************************
Estilos de la barra de navegación
**************/
.nav{
    background-color: red;
}

.menu{
    align-self:write;
    background-color: aqua;
    list-style: none;
}
.menu > li{
    align-items:flex-end;
    padding:0px;
    margin-left:10px;
    margin-top: 0px;
    text-align: write;
    float: left;
    
    width: 10%;
    list-style: none;
    
}


.lastblock > li p{
    margin-top: 40px;
    margin-left: 0px;
    margin: 0px;
    color:rgb(175, 13, 13);
    list-style: none;
}

.menu >  ul li{
    align-items:flex-end;
    padding:0px;
    margin-left:10px;
    margin-top: 0px;
    text-align: write;
    float: left;
    
    width: 10%;
    list-style: none;
    display:none;
}



.menu > li:hover > ul{
    display:block;   
    color:azure;
    text-decoration: none;

}



.menu > nav a{

    color:azure;
    text-decoration: none;
    display:block;
    padding:5px 10px;
    list-style: none;
}

.menu > nav a:hover{
    background-color: rgb(29, 155, 3);
}

.menu > nav ul{

    list-style: none;
}

.lastblock{
    color: rgb(4, 105, 92);
    margin-right: 0px;
    margin-left: 0cm;
    margin-top: 0cm;
}

.nextblock {
    position: relative;
    display:flex;
    margin-left: 2cm;
    margin-right: 25px;  /* Agrega un margen derecho */
    padding: 0px;
}



/******************
BORRADOR EJEMPLO

.menu-item ul {
    display: none;
}
cm
.menu-item:hover > ul {
    display: block;
}



.nextblock{
    margin-left: 140px;
    padding: 5px;
}
.prevblock{
    
    margin-left: 40px;
    padding: 5px;
}


*****************/