/**************estilos del Menú */


.menu {
    align-self: flex-end; /* Ajustar alineación en lugar de write */
    background-color: #5499c7;
    list-style: none;
    display: flex; /* Alineación de flexbox para que los elementos se muestren de derecha a izquierda */
    justify-content: flex-end; /* Alinea los elementos del final al principio */
    padding:17px;
    width: 100%;
    font-size: 1.4em;
        
}

.menu > li {
    padding: 0px;
    margin-left: 10px;
    margin-top: 0px;
    text-align: right;
    float: right;
    width: 10%;
    list-style: none;
}

.menu > li ul li {
    display: none;
    padding:5px;
}

.menu > li:hover ul li {
    display: block; /* Mostrar elementos secundarios al hacer hover en el elemento principal */
}

.menu > nav {
    background-color: rgb(11, 51, 209);
}


/************** Estilos del Peu ****************************************/


.peu {
    display: flex;
    justify-content: space-between;
    background-color: #5499c7;
    list-style: none;
    padding: 5px;
    margin: 0; /* Agrega esto para quitar el margen predeterminado en <ul> */
    width: 100%;
    font-size: 1.4em;
}

.peu > li {
    padding: 0px;
    margin: 0; /* Agrega esto para quitar el margen predeterminado en <li> */
    text-align: center;
    list-style: none;
}

.peu > li ul li {
    display: none;
    padding: 0px;
}

.peu > li:hover ul li {
    display: block;
}

.peu > nav {
    background-color: rgb(11, 51, 209);
}

.enlacesPeu {
    background-color: #5497c7;
    color: #ffffff;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
    list-style: none;
}

.enlacesPeu:hover {
    color: #fa0404;
    cursor: pointer;
}


/********* Estilos de datos que estan en el body como Blocks1 Blocks2 etc *******/


.blocks1 {
   /* align-self: flex-end; /* Ajustar alineación en lugar de write */
    background-color: #f3f4f5;
    list-style: none;
    display: inline; /* Alineación de flexbox para que los elementos se muestren de derecha a izquierda */
    justify-content: flex-end; /* Alinea los elementos del final al principio */
    padding:10px;
    width: 100%;
}

.blocks1 > li {
    padding: 0px;
    margin-left: 10px;
    margin-top: 0px;
    text-align: right;
    float: right;
    width: 10%;
    list-style: none;
}

.blocks1 > li ul li {
    display: none;
    padding:5px;
}


.blocks2 {
    
    display: flex;
    vertical-align: top;
    margin-left: auto;
    margin-right: 0px;
    font-size: 1em;
    padding: 15px;


    justify-content: space-between;
  
    list-style: none;
    padding: 5px;
    /*  margin: 0;Agrega esto para quitar el margen predeterminado en <ul> */
    width: 100%;
}

.blocks3 {
    position: relative;
    display:flex;
    margin-left: 0.3cm;
    margin-right: 25px;  /* Agrega un margen derecho */
    padding: 0px;
}
.hash{
    color: #3f73ad;
}

.lista-falsa-tabla li {
    display: flex;
    justify-content: space-between;
  }
  
  .lista-falsa-tabla li div {
    /* Ajustes para cada "columna" */
    width: 30%; /* Ajusta según el ancho deseado */
    text-align: center; /* O cualquier alineación deseada */
  }
  
