*{
    margin:0px;
    padding:0px;
   
}

.contenedor {
    display: flex; /* Utilizamos Flexbox para el contenedor */
    gap: 20px; /* Separación entre los elementos dentro del contenedor */
}

.cuadrado {
    width: 100px;
    height: 100px;
    background: #aeb5bb;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #fa0404;
    position: relative; /* Añadimos posición relativa para posicionar la línea */
}

/* Línea vertical entre cuadrados 
.cuadrado::after {
    content: '';
    position: absolute;
    height: 100%;   
    width: 2px;  
    background: #000; 
    top: 0;
    right: -10px; 
}
*/

/* Línea horizontal entre cuadrados */
.cuadrado:not(:last-child)::after {
    content: '';
    position: absolute;
    width: calc(100% + 20px); /* Ancho igual al ancho del cuadrado más el espacio entre cuadrados */
    height: 2px; /* Altura de la línea */
    background: #000;
    bottom: 50%;
    left: 100%; /* Ajusta la posición de la línea según sea necesario */
    transform: trans/* Estilos para los submenús */lateY(-50%);
}


.cabecera{
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
    background-color:#cccfdf;
    
}
logotip{

    background-color: #fa0404;
}
cabecera,nav,ul,li{
    background-color: #fa0404;
}

/* Estilos para los submenús */

cabecera2{
    margin-top: 45px;
    margin-left: 10px;
    padding: 15px;
    background-color: greenyellow;
    
}/* Estilos para los submenús */

blocks{
    margin:40px;
}

nav ul li{
    float:  right;
    list-style: none;
    margin: 15px;
    line-height: 4px;
    font-size: 18px;
    text-align: center;
}


cabecera3,table,tr,td{
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(247, 246, 245);    

}

cabecera table{
    
    margin-left: 20px;
    margin-top: 20px;
}

.table-endpoints{
    margin-left: 10px;
    margin-top: 10px;
    font-size: large;
    border: 1;
    padding: 2px;
}

footer{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: black;   
    margin-top: 300px;
    background-color:#cccfdf;
}

h2{  
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;    
}

p{
    font-size: large;
}




/* Estilos para los submenús */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

/* Estilos para los submenús */

ul ul {
    display: none;
    position: absolute;
    min-width: 140px;
    background-color: #8f5757;
    border: 1px solid #ccc;
    z-index: 1;
    top: 100%;
    /* Cambiado de left a top para que aparezca debajo */
    left: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    /* Añadido para que el submenú sea relativo a este elemento */
}


ul li:hover>ul {
    display: inherit;
}